html
body {
  width:1440px;
  height:3214px;
  font-weight:400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color:#000000;
  background:white;
  margin: 0 auto;
  padding: 0;
}
.main-header {
  min-height: 115px;
  /*box-shadow: 0 0 0 1px green;*/
  color:#000000;
  text-decoration: none;
  background:#eeeeee;
}
.main-navigation a {
  display: block;
  padding-right:43px;
  padding-left:3px;
  padding-top:75px;
  color:#000000;
  font-weight:bold;
  text-decoration: none;
  text-transform:uppercase;
}
.main-navigation a:hover {
  color:#fb565a;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  vertical-align: top;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  min-height: 115px;
  margin: 0 auto;
  box-shadow: 0 0 0 1px yellow;
}

.small-logo {
  width: 160px;
  min-height: 115px;
  float: left;
  /*box-shadow: 0 0 0 1px pink;*/
}
.small-logo img{
  padding-top: 50px;
}
.small-logo img:hover {
  opacity: 0.8;
}

.main-navigation {
  width: 485px;
  min-height: 115px;
  float: left;
  margin-left: 200px;
  /*box-shadow: 0 0 0 1px pink;*/
}

.user-block{
  width: 145px;
  min-height: 115px;
  float: right;;
  margin-left: 170px;
  /*box-shadow: 0 0 0 1px pink;*/

}
.trash {
  font-size: 16px;
  line-height: 30px;
  vertical-align: top;
  color:#000000;
  text-decoration:none;
  display: inline-block;
  text-transform:uppercase;
  font-weight:bold;
  vertical-align: top;
  padding-top:75px;
  padding-left:30px;
}

.trash:hover {
  opacity: 0.8;
}
.user-block img{
  margin-right:25px;
}

.slider{
  position:relative;
  height: 430px;
  margin: 0 auto;
  box-shadow: 0 0 0 1px blue;
  margin-bottom: 76px;
  background:#eeeeee;
}

.slider__controls{
  position:absolute;
  bottom:95px;
  left:50%;
  width:200px;
  height:10px;
  margin-left:-100px;
  text-align:center;
  z-index:1000;
}
.slider__controls i{
  display:inline-block;
  width:12px;
  height:12px;
  margin:0 5px;
  background:white;
  border:3px solid white;
  vertical-align:top;
  border-radius:50%;
  cursor:pointer;
}
.slider__controls .active{
  background:#c1c1c1;
}
.slider__list{
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
}
.slider__item{
  width:100%;
  padding:30px 0;
  padding-bottom:80px;
  color:#283136;
}
.slide__title{
  font-size:55px;
  line-height:55px;
  font-weight:bold;
  color:black;
  margin-top: 45px;
  margin-bottom: 30px;
}
.slider__item .btn{
  display:block;
  width:240px;
  padding:15px 0;
  margin-left:2px;
  margin-top:40px;
  font-size:16px;
  line-height:18px;
  color:white;
  text-transform:uppercase;
  text-align:center;
  text-decoration:none;
  background:#fb565a;
  border-radius:3px;
}
.slider__item:nth-child(1){
  background-image:url('../img/slider-1.png');
  background-repeat:no-repeat;
  background-position:100% 5px;
}
.slider__item{
  display:none;
}
.slider__item:nth-child(1){
  display:block;
}
.slider__item:nth-child(2){
  background-image:url('../img/slider-2.png');
  background-repeat:no-repeat;
  background-position:100% 100px;
}
.slider__item:nth-child(3){
  background-image:url('../img/slider-3.png');
  background-repeat:no-repeat;
  background-position:100% 0;
}


.products {
  width: 1160px;
  min-height: 350px;
  /*box-shadow: 0 0 0 1px blue;*/
  margin-bottom: 80px;
}

.products_web,
.products_app {
  width: 302px;
  min-height: 348px;
  /*box-shadow: 0 0 0 1px pink;*/
  margin-right: 93px;
  float:left;
  padding:2px;
}

.products_presentation{
  width: 302px;
  min-height: 348px;
  /*box-shadow: 0 0 0 1px pink;*/
  float:left;
  padding:2px;
}
.products h1{
  font-size:24px;
  line-height:30px;
  font-weight:bold;
  color:black;
  text-transform:uppercase;
  margin-top:22px;
}
.products .btn{
  display:block;
  width:160px;
  padding:15px 0;
  margin-top: 35px;
  font-size:16px;
  line-height:18px;
  color:white;
  text-transform:uppercase;
  text-align:center;
  text-decoration:none;
  background:#fb565a;
  border-radius:3px;
}
.products .btn2{
  background:#00ca74;
}
.products .btn3{
  background:#efc84a;
}

.about{
  width: 1160px;
  min-height: 530px;
  /*box-shadow: 0 0 0 1px blue;*/

}
.features {
  width: 700px;
  min-height: 530px;
  float:left;
  /*box-shadow: 0 0 0 1px pink;*/
}
.features h1{
  font-size:45px;
  line-height:45px;
  color:black;
  margin-top:75px;
  margin-bottom:35px;
  padding-left:2px;
}
.features h2{
  font-size:16px;
  line-height:24px;
  color:black;
  text-transform:uppercase;
  font-weight:bold;
  margin-top:35px;
  padding-left:2px;
  margin-bottom: 20px;
}
.features ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features li:before{
  content: "—";
  color: red;
  font-size: 25px;
  line-height: 40px;
  position: relative;
  top:3px;
}
.features span {
  margin-left: 20px;
}

.diagram {
  width: 360px;
  min-height: 530px;
  float:left;
  margin-left: 100px;
  /*box-shadow: 0 0 0 1px pink;*/
}
.diagram img{
  margin-top:40px;
}
.diagram p{
  color:black;
  text-transform:uppercase;
  font-weight:bold;
  margin-top:33px;
  padding-left:20px;
  margin-bottom: 55px;
}
.diagram__procent_amount {
  font-size:45px;
  line-height:10px;
  font-weight:bold;
}
.diagram__procent_amount td{
   padding-left:5px;
 }
sup{
  font-size:60%;
  line-height:3px;
  position:static;
  vertical-align: top;
}
.diagram__procent_item td{
  padding-top: 37px;
  line-height: 18px;
}

.line {
  border-bottom:2px solid #eeeeee;
}
.line_vertical {
  border-right:2px solid #eeeeee;
}

.works{
  width: 1162px;
  height: 181px;
  margin: 0 auto;
  /*box-shadow: 0 0 0 1px blue;*/

}
.works a{
  width: 260px;
  height:182px;
  /*box-shadow: 0 0 0 1px pink;*/
  margin-right:40px;
  float:left;
  display: table;
}
.works a:last-child {
  margin-right:0;
}
.works__item{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.works__item:after {
  content: " ";
  position:absolute;
  border-width:2px;
  border-style:solid;
  border-color:#eeeeee;
  width: 0px;
  height:52px;
  margin-right: 50px;
}
.works__item::after:last-child {
  display:none;
}
.main-footer {
  min-width:1440px;
  min-height:570px;
  box-shadow: 0 0 0 1px blue;
  margin-top: 75px;
}
.footer-map{
  position: relative;
  margin-bottom: 70px;
}
.footer-contacts {
  position: absolute;
  min-width:320px;
  min-height:310px;
  /*box-shadow: 0 0 0 1px pink;*/
  margin-right:20px;
  margin-bottom: 70px;
  float:left;
  top:55px;
  background-color: #ffffff;
}
.footer-contacts h3{
  font-size:18px;
  line-height:30px;
  text-transform:uppercase;
  font-weight:bold;
  margin-left:50px;
  margin-top:50px;
}
.footer-contacts p{
  display: inline-block;
  font-size:16px;
  line-height:18px;
  color: #8f8f8f;
  margin-left:52px;
  margin-top:5px;
  margin-bottom:7px;
}

.footer-social {
  width:960px;
  min-height:90px;
}

.footer-contacts .btn{
  display:block;
  width:220px;
  padding:16px 0;
  margin-top: 35px;
  font-size:16px;
  line-height:18px;
  color:white;
  text-transform:uppercase;
  text-align:center;
  text-decoration:none;
  background:#fb565a;
  border-radius:3px;
  margin-left:50px;
  margin-top:30px;
}

.social_text {
  float:left;
  width:560px;
  min-height:90px;
  margin-left: 130px;
  margin-top: 65px;
  box-shadow: 0 0 0 1px pink;
}

.social_text {
  font-size:16px;
  color: #505050;
}
.social_text_big{
  font-size:36px;
  font-weight:bold;
  color: black;
}

.social-btn {
  float:left;
  width:270px;
  min-height:90px;
  margin-top: 66px;
  box-shadow: 0 0 0 1px pink;
}
.social-btn a{
  display: inline-block;
  float: left;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  margin: 0 5px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
}
.social-btn-vk {
  background: #e1e1e1 url("../img/vk-icon.png") no-repeat center;

}
.social-btn-fb{
  background: #e1e1e1 url("../img/fb-icon.png") no-repeat center;
}
.social-btn-inst{
  background: #e1e1e1 url("../img/insta-icon.png") no-repeat center;
}

.title {
  height: 240px;
  position:relative;
  margin: 0 auto;
  background:#eeeeee;
}
.title__main {
  position:relative;
  margin: 0 auto;
  width: 760px;
  min-height: 83px;
  font-size:55px;
  line-height:55px;
  padding-top: 76px;
  padding-left: 34px;
  box-shadow: 0 0 0 1px pink;
}
.sort {
  width: 1160px;
  min-height:30px;
  float:left;
  margin-top:60px;
  box-shadow: 0 0 0 1px pink;
}
.sort ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  float:right;
}
.sort li {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  vertical-align: top;
  text-decoration: none;
}
.sort p {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  vertical-align: top;
  font-weight:bold;
  text-transform:uppercase;
  padding-top:none;
}
.price_item {
  padding-right:280px;
  padding-left: 2px;
  margin-top: none;
}
.sort_item {
  padding-right:265px;
  margin-top: none;
}

.sort a {
  display: block;
  padding-right:25px;
  color:#000000;
  font-weight:bold;
  text-decoration: none;
  text-transform:uppercase;
}
.index_up {
  padding-left: 45px;
  padding-right: 15px;
}


form {
  width: 260px;
  min-height: 787px;
  box-shadow: 0 0 0 1px pink;
  float:left;
}

.range-filter {
  width: 240px;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 145px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}
.max-price {
  text-align: right;
}
.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.products_catalog {
  width: 760px;
  min-height: 1925px;
  box-shadow: 0 0 0 1px blue;
  float:right;
  margin-left: 120px;
  margin-top: 60px;
}
.products__item {
  width: 360px;
  min-height: 619px;
  box-shadow: 0 0 0 1px pink;
  float:left;
  margin-right: 40px;
}

.page-number {
  width: 444px;
  min-height: 48px;
  float:left;
  margin-left: 420px;
  box-shadow: 0 0 0 1px pink;
}
